
/*  ----------- Obnulenyje -------------*/

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: 0;
}
a {
   text-decoration: none;
   color: beige;
   
}
ul,
ol,
li {
   list-style: none;
}
img { vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
html,
body {
   font-family: 'Indie Flower', cursive;
   background-color:  #c2b1b6;
   font-size: 22px;
   color: #FFE7E7;
}

main {
   margin-bottom: 100px;
}
.container {
   max-width: 1440px;
   margin: 0 auto;
   
}

.nav {
   margin-top: 25px;
   margin-bottom: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.meniu {
   width: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: beige;
   gap: 30px;
   cursor: pointer;
   font-family: 'Libre Baskerville';
}
.active {
   color: #EF1F4D;
}

.block {
   width: 150px;
   height: 150px;
   border: 1px solid darkgoldenrod;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 40px;
   margin: 15px;
 }

 .title {
   display: flex;
   justify-content: center;
   margin-bottom: 100px;
   font-size: 72px;
   color: #5A0B1F;
 }
 
.card_wrapper {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 50px;
   margin-bottom: 30px;
}

 .card {
   display: flex;
   align-items: center;
   flex-direction: column;
   width:12em;
   overflow: hidden;
   border-radius: 14px;
   background-color: #9B1C3D;
  box-shadow:  15px 15px 15px #2D2A32, -15px -15px 10px #2D2A32;
  padding-bottom: 10px;
 }
 .card_item {
   padding: 10px;
 }
 .card_img img{
   width: 100%;
   height: 100%;
   margin-bottom: 10px;
   border-radius: 14px;
 }
.card_name {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 15px;
}
.card_name p {
   color: #5A0B1F;
}
.card_name span {
   font-size: 16px;
}
 .card_description {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .card_description p {
   color: #5A0B1F;
 }
 .card_description span {
   font-size: 16px;
   margin-bottom: 10px;
 }
 .card_class {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
 }
 .card_class p{
   color: #5A0B1F;
 }
 .card_class span {
   font-size: 16px;
 }
 .card_price {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
 }
 .button_div {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .btn_buy {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   background-color: #FFE7E7;
   color: #9B1C3D;
   border-radius: 10px;
 }
.btn_buy:hover {
   background-color: #2D2A32;
   cursor: pointer;
}

.btn_arr1 {
   display: flex;
   flex-direction: column;
   justify-content: space-around;

}
.addCardArr1 {
   display: flex;
   justify-content: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 250px;
   background-color: #FFE7E7;
   color: #9B1C3D;
   border-radius: 10px;
   margin-bottom: 15px;
   cursor: pointer;
}
.addCardArr1:hover {
   background-color: #5A0B1F;
   color: #FFE7E7;
}
.addCardArr2 {
   display: flex;
   justify-content: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 250px;
   background-color: #FFE7E7;
   color: #9B1C3D;
   border-radius: 10px;
   margin-bottom: 15px;
   cursor: pointer;
}
.addCardArr2:hover {
   background-color: #5A0B1F;
   color: #FFE7E7;
}
.addCardArr3 {
   display: flex;
   justify-content: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 250px;
   background-color: #FFE7E7;
   color: #9B1C3D;
   border-radius: 10px;
   margin-bottom: 15px;
   cursor: pointer;
}
.addCardArr3:hover {
   background-color: #5A0B1F;
   color: #FFE7E7;
}
/*.removeCard {
   display: flex;
   justify-content: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 250px;
   background-color: #FFE7E7;
   color: #9B1C3D;
   border-radius: 10px;
   margin-bottom: 15px;
}*/