
/*  ----------- Obnulenyje -------------*/

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: 0;
}
a {
   text-decoration: none;
   color: beige;
}
a:hover {
   color: #9AE19D;
}

ul,
ol,
li {
   list-style: none;
}
img { vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

body {
   font-family: 'Fjalla One', sans-serif;
   background-color:  #2C302E;
   font-size: 22px;
   color: #FFE7E7;
   padding-top: 20px;
}

.active a {
   color: #9AE19D;
}

.navbar {
   position: fixed;
   
}
nav ul{
   width: 650px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   /*gap: 40px;*/
   font-size: 38px;
}
@media screen and (max-width: 800px) {
   nav ul {
      width: 400px;
      font-size: 25px;
   }
}

/* Main Content */
.container {
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
@media screen and (max-width: 800px) {
   .container {
      width: 400px;
   }
}


 .gradient_text {
   background-image: linear-gradient(90deg, rgb(243, 220, 10), green);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-size: 48px;
   display: flex;
   justify-content: center;
   margin-bottom: 25px;
}
.javatext {
   font-size: 19px;
}


.border {
   border: solid 3px #474A48;
   border-radius: 8px;
   max-width: 600px;
   padding: 20px;
}
.border_item {
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
}

.work3 {
   padding: 30px 10px 20px 10px;
}
@media screen and (max-width: 800px) {
   .border_item {
      flex-direction: column;
   }
   .work3 {
      height: 200px;
   }
   }

.workout {
   color: rgb(156, 5, 5);
   margin-bottom: 10px;
   width: 100%;
}

.input {
   height: 30px;
   margin-right: 20px;
   border: #537A5A solid 2px;
   border-radius: 8px;
   padding-left: 5px;
   background-color: #537A5A;
   color: #FFE7E7;
}

.btn {
   background-color: #537A5A;
   border-radius: 8px;
   padding: 5px 35px 5px 35px;
   cursor: pointer;
}
.btn:hover {
   background-color: #9AE19D;
   color: #2C302E;
}
#save_btn {
   width: 100px;
}
.timer_item {
   color: rgb(156, 5, 5);
}
.timer2 {
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: #537A5A solid 2px;
   border-radius: 8px;
   padding: 10px;
}
.timer_min {
   width: 200px;
   display: flex;
   justify-content: space-around;
}
.timer_sec {
   width: 200px;
   display: flex;
   justify-content: space-around;
}
.sec {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
   border: #537A5A solid 2px;
   border-radius: 8px;
}


/*  Scroll Animation */
.section {
   scroll-snap-align:start;
   height:100vh;
   display:flex;
   justify-content:center;
   align-items:center;
}
.hidden {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition:  ease-in 0.5s;
}
@media(prefers-reduced-motion) {
   .hidden {
      transition: none;
   }
}
.show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}