
/*  ----------- Obnulenyje -------------*/

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: 0;
}
a {
   text-decoration: none;
   color: beige;
   
}
ul,
ol,
li {
   list-style: none;
}
img { vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
html,
body {
   font-family: 'Fjalla One', sans-serif;
   background-color:  #2C302E;
   font-size: 22px;
   color: #FFE7E7;
}

main {
   margin-bottom: 100px;
}
.container {
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
}
@media screen and (max-width: 800px) {
   .container {
      width: 400px;
   }
   }

 .gradient_text {
   background-image: linear-gradient(90deg, rgb(243, 220, 10), green);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-size: 48px;
   display: flex;
   justify-content: center;
}

.border {
   border: solid 3px #474A48;
   border-radius: 8px;
   max-width: 600px;
   padding: 20px;
   margin-bottom: 30px;
}
.border_item {
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
}

.work3 {
   /*margin-top: 50px;
   margin-bottom: 30px;*/
   padding: 30px 10px 20px 10px;
}
@media screen and (max-width: 800px) {
   .border_item {
      flex-direction: column;
   }
   .work3 {
      height: 200px;
   }
   }

.workout {
   color: rgb(156, 5, 5);
   margin-bottom: 10px;
   width: 100%;
}

.input {
   height: 30px;
   margin-right: 20px;
}
.btn {
   background-color: #537A5A;
   border-radius: 8px;
   padding: 5px 35px 5px 35px;
   cursor: pointer;
}
.btn:hover {
   background-color: #9AE19D;
   color: #2C302E;
}
#save_btn {
   width: 100px;
}
.timer_item {
   color: rgb(156, 5, 5);
}
.timer2 {
   width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: #537A5A solid 2px;
   border-radius: 8px;
   padding: 10px;
}
.timer_min {
   width: 200px;
   display: flex;
   justify-content: space-around;
}
.timer_sec {
   width: 200px;
   display: flex;
   justify-content: space-around;
}
.sec {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
   border: #537A5A solid 2px;
   border-radius: 8px;
}